#form {
  max-width:700px;
  margin:auto;
}

#main {
  min-height:78vh;
}

#header{
  background-color: black;
  height:70px;
  color: white;
}

#footer{
  background-color: black;
  color: white;
  height: 80px;
  display: flex;
  justify-content: space-between;
  align-content: center;

}

* {
  font-family: 'Lato','Helvetica Neue','Arial','Helvetica','sans-serif';
  font-weight: 400;
}
#impact{
  text-align: center;
  margin: 40px 0;
  margin-bottom: 80px;
}

#h1 {
  height: 40px;
}

#header{
  display: flex;
  justify-content: center;
  text-align: center;
}


.footer-item {
  width:auto;
  margin:30px;
}


h4{
  margin-top:auto;
  margin-bottom: 10px;
  margin-right: 30px;
  width:auto;
  /* display: inline-block; */
  text-align: right;
}